.tab_img{
    padding-top: 30px;
    padding: 40px;
    background: url(https://appzy.vip/img/index_bg.jpg)
}
.p_top{
    color: #ffffff;
}
.p_font{
    font-size: 18px;
}
.Head_portrait{
    padding: 45px;
}
.About_me{
    padding-top: 30px;
}
.p_Aboot_me{
    padding: 50px;
 }
.borde{
    width: 100%;
    height: 1px;
    background-color: #00CCFF;
}
.lianxi{
    padding:20px;
}

